/* Reset de estilos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el body y la fuente */
body {
  font-family: $font-family-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $font-color;
  background-color: $background-color;
}

/* Estilos para el header y el navbar */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    .nav__item {
      margin: 0 10px;
    }
  }
  .nav__link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: $font-color;
    font-weight: bold;
    transition: $background-color 0.2s ease-in-out;
  }

  .nav__link:hover {
    background-color: #393939;
    color: $background-color;
  }
}

/* Estilos para las secciones de la página */
.section {
  padding: 50px 20px 0px;
  /* Estilos para los títulos de las secciones */
  .section__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /* Estilos para los textos de las secciones */
  .section__text {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  /* Estilos para las imágenes de las secciones */
  .section__image {
    width: 100%;
    height: auto;
    max-height: 70vh;
    margin-bottom: 20px;
  }
}

/* Estilos responsive para el navbar */
@media screen and (max-width: 768px) {
  .nav__item {
    margin: 0 5px;
  }

  .nav__link {
    font-size: 0.8rem;
    padding: 10px 15px;
  }
}

/* Estilos responsive para las secciones */
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2rem;
  }

  .section__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .section--historia .section__image {
    display: none;
  }

  .section--como-llegar .section__image {
    display: none;
  }
}
