<section id="como-llegar">
    <div class="como-llegar__container">
        <h2>Cómo llegar</h2>
        <div class="como-llegar__contenido-container">
            <div class="como-llegar__mapa-container">
                <iframe class="como-llegar__mapa"
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2216.697262256571!2d-6.128483816446831!3d36.68133642961373!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1680739629097!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="como-llegar__texto-container">
                <p class="como-llegar__texto">La estatua del Minotauro se encuentra ubicada en la Plaza del Arenal, en
                    el centro histórico de Jerez de la Frontera, España.</p>
                <p class="como-llegar__texto">Si vienes en coche, puedes aparcar en uno de los estacionamientos públicos
                    del centro histórico de la ciudad, como el aparcamiento de la Plaza del Arenal o el aparcamiento de
                    la Plaza Esteve.</p>
                <p class="como-llegar__texto">Si prefieres venir en transporte público, hay varias líneas de autobús que
                    tienen parada en la Plaza del Arenal, como las líneas 1, 5, 9, 12, 13, 15, 16, 17, 18, 19, 23 y M.
                </p>
            </div>
        </div>
    </div>
</section>