<div class="datos-curiosos__container">
    <h2>Datos curiosos</h2>
    <div class="datos-curiosos__icon-container">
        <i class="fas fa-globe-americas datos-curiosos__icon"></i>
        <p class="datos-curiosos__text">La estatua del Minotauro una de las esculturas más grandes al aire libre y
            la mayor escultura urbana realizada en bronce en España.
        </p>
    </div>
    <div class="datos-curiosos__icon-container">
        <p class="datos-curiosos__text">La estatua se encuentra orientada hacia Creta y representa la parte humana
            del minotauro vencido tras su lucha contra Teseo y huyendo hacia Creta.</p>
        <i class="fas fa-compass datos-curiosos__icon"></i>
    </div>
    <div class="datos-curiosos__icon-container">
        <i class="fas fa-car-side datos-curiosos__icon"></i>
        <p class="datos-curiosos__text">Desde la rotonda en la que se encuentra puedes conducir en 4 direcciones:
            Sevilla, Bahía de Cádiz, Centro ciudad y Zona Este.</p>
    </div>
</div>