<section id="historia">
    <div class="historia__container">
        <div class="historia__text-container">
            <h2>Historia</h2>
            <p>La Estatua del Minotauro de Jerez de la Frontera fue creada por el escultor jerezano Francisco Pinto
                Berraquero en 1967 como parte de un conjunto escultórico que representa la leyenda del Minotauro.</p>
            <p>La obra originalmente estaba ubicada en la Plaza de las Angustias, pero en 1975 se trasladó a su
                ubicación actual en la Plaza del Arenal, en el centro de Jerez.</p>
            <p>A lo largo de los años, la estatua ha sido restaurada en varias ocasiones y se ha convertido en un
                símbolo icónico de la ciudad. En la actualidad, es uno de los monumentos más fotografiados y visitados
                de Jerez de la Frontera.</p>
        </div>
        <img src="./assets/images/minotauro-xerez.png" alt="Foto de la estatua del Minotauro en la actualidad"
            class="historia__image">
    </div>
</section>