<div class="inicio__container">
    <img src="./assets/images/minotauro.jpg" alt="Estatua del Minotauro de Jerez de la Frontera" class="inicio__image">
    <div class="inicio__text-container">
        <h2>Estatua del Minotauro de Jerez de la Frontera</h2>
        <p>La Estatua del Minotauro de Jerez de la Frontera es una de las principales
            atracciones turísticas de la ciudad. Se encuentra ubicada en el centro histórico de la ciudad y fue
            creada por el escultor francés Maxime Real del Sarte en 1975. La estatua representa al mítico Minotauro
            de la mitología griega, un ser mitad hombre y mitad toro que habitaba en el laberinto de Creta.</p>
        <a href="#historia" class="inicio__link">Más información</a>
    </div>
</div>